@{
    ViewBag.Title = "Closing";
}

<style>
    .manttan-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    img.manttan-img {
        width: 150px;
    }
    p.manttan-title {
        font-size: 30px;
    }
</style>


<div class="manttan-box">
    <img class="manttan-img" src="~/src/icons/maintenance.png" alt="maintenance" />
    <p class="manttan-title" >กำลังปรับปรุงระบบ</p>
    <p class="manttan-contact" >กรุณาติดต่อ Admin</p>
</div>

<div id="Grid">
    <table cellpadding="5" cellspacing="0" style="border: 1px solid #ccc;font-size: 9pt; width: 100%;">
        <tr>
            <th style="background-color: #B8DBFD;border: 1px solid #ccc">CustomerID</th>
            <th style="background-color: #B8DBFD;border: 1px solid #ccc">ContactName</th>
            <th style="background-color: #B8DBFD;border: 1px solid #ccc">City</th>
            <th style="background-color: #B8DBFD;border: 1px solid #ccc">Country</th>
        </tr>
        <tr>
            <td style="width:120px;border: 1px solid #ccc">customer.CustomerID</td>
            <td style="width:120px;border: 1px solid #ccc">customer.ContactName</td>
            <td style="width:120px;border: 1px solid #ccc">customer.City</td>
            <td style="width:120px;border: 1px solid #ccc">customer.Country</td>
        </tr>
    </table>
</div>
    <script>

        const  data =$("#Grid").html();
              $.ajax({
                    url: "@Url.Action("Export_Detail", "home")",
                    type: "POST",
                  data: { GridHtml : data },
                    success: function (result) {
                        if (result.success) {
                            alert("Yes");
                        }
                    }
                });
    </script>
